@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F57F17;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #FBC02D;
}

.oblicz {
    display: flex;
    flex-direction: column;
}

.oblicz input,
.objetosc,
.pole {
    margin: 10px;
    font-size: 1.3rem;
    text-align: center;
}

input[type=submit] {
    background: #76FF03;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    outline: none;
    cursor: pointer;
}

.alert {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    background: red;
    text-align: center;
    border-radius: 25px;
}

.h1 {
    position: relative;
}

.h1 h1 {
    text-align: center;

}

.sidebar {
    position: absolute;
    top: 0;
    left: -500px;
    height: 100vh;
    width: 250px;
    border: 1px solid;
    background: #F9A825;
    transition: 1s;
    z-index: 2;
    overflow: hidden;
}

.sidebar h2 {
    padding: 5px;
}

.sidebar.active {
    left: 0
}

.sidebar ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sidebar ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    width: 100%
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.5s;
    padding: 10px 5px;
}

.sidebar ul li a:hover {
    background: #76c789;
    font-size: 1.3rem;
}

.toggle {
    position: fixed;
    right: 15px;
    top: 5px;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    background: #FFF9C4;
}

.toggle::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 3px;
    background: black;
    transition: 0.3s;
}

.toggle::before {
    content: "";
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 3px;
    background: black;
    transition: 0.3s;
    box-shadow: 0 -12px 0;
}

.toggle.active::after {
    background: red;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.toggle.active::before {
    box-shadow: 0 0 0;
    background: red;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

::placeholder {
    color: red;
}

@media(max-width:700px) {
    .container {
        flex-direction: column;
        min-width: 350px;
    }

    .h1 h1 {
        font-size: 1.1rem;
        height: 20vh;
        width: 70%;
    }
}